# Starknet Configuration
NEXT_PUBLIC_STARKNET_RPC_URL=https://starknet-goerli.infura.io/v3/your-project-id
NEXT_PUBLIC_STARKNET_NETWORK=goerli-alpha
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=your-project-id
 
# Contract Addresses
NEXT_PUBLIC_CONTRACT_ADDRESS=0x0 