# Base Configuration (Layer 2)
NEXT_PUBLIC_BASE_CHAIN_ID=84532
NEXT_PUBLIC_BASE_RPC_URL=https://sepolia.base.org

# WalletConnect
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=

# AI Integrations (Google Gemini)
# Favor GEMINI_API_KEY for the Hackathon
GEMINI_API_KEY=
# GOOGLE_API_KEY= (Alternative)

# AI Integrations (ElevenLabs)
ELEVENLABS_API_KEY=
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
ELEVENLABS_OUTPUT_FORMAT=mp3_44100_128
NEXT_PUBLIC_ELEVENLABS_AGENT_ID=

# On-Chain Contracts (Base Sepolia)
NEXT_PUBLIC_VOISSS_CONTRACT_ADDRESS=

# IPFS Configuration
NEXT_PUBLIC_IPFS_GATEWAY_URL=https://gateway.pinata.cloud/ipfs/
PINATA_JWT=
